@mixin breakpoint($breakpoint){
	@if $breakpoint == small {
		@media all and (min-width: 420px){
			@content;
		}
	}	@else if $breakpoint == med {
				@media all and (min-width: 760px){
					@content;
		}
	}	@else if $breakpoint == large {
				@media all and (min-width: 850px){
					@content;
		}
	}


}

.portfolio_grid {
	margin: 0px 30px auto;


}


.portfolio_grid_row {
	overflow: auto;
	width: 100%;
}

.portfolio_grid_col {
	float: left;
	width: 49%;
	height: 450px;
	border: solid 4px white;
	background-color: wheat;

	img {
		max-width: 60%;
		height: 250px;
		margin-top: 115px;
		margin-left: 165px; 
	}
}