@mixin breakpoint($breakpoint){
	@if $breakpoint == small {
		@media all and (min-width: 420px){
			@content;
		}
	}	@else if $breakpoint == med {
				@media all and (min-width: 780px){
					@content;
		}
	}	@else if $breakpoint == large {
				@media all and (min-width: 850px){
					@content;
		}
	}


}

.portfolio_grid {

	//display: none;

	@include breakpoint(med){
		display: block;
		margin: 0px 30px auto;

	}

}


.portfolio_grid_row {
	overflow: auto;
	width: 100%;
}


.portfolio_grid_col {
	border: solid 4px white;
	background-color: wheat;
	
	@include breakpoint(med){
		float: left;
		width: 49%;
		height: 450px;
	}

	img {
		width: 80%;
		height: 375px;
		margin-top: 35px;
		margin-left: 75px; 
	}
}