.nav-wrapper {
	border-bottom: 1px solid black; 
	width: 100%;
	overflow: auto; 
	background-color: #fffff5;
	top: 0;
	z-index: 2;
	position: fixed;

}

.navMenu {
	

	li {
		display: block;
		list-style: none; 
		font-size: 25px; 

		@include breakpoint(med){
			float: left; 
		}



		a {
			display: block;
			padding: 20px;
			text-decoration: none; 

		}



	}

}

.socialIcons {
	display: none;
	float: right;

	@include breakpoint(med){
		display: block;
	}

	

	li {
	
		list-style: none;
		display: inline-block;

		a {
			padding: 20px;
		}

	}
}








