.nav-wrapper {

	display: none; 

	@include breakpoint(med){
		border-bottom: 1px solid black; 
		width: 100%;
		overflow: auto; 
		background-color: #fffff5;
		top: 0;
		z-index: 2;
		position: fixed;
		display: block; 
	}

}

.navMenu {

	display: none;
	float: left;

	@include breakpoint(med){
		display: block;
	}

	li {
		
		display: inline-block;
		list-style: none; 
		font-size: 25px; 
	
	



		a {
			display: block;
			padding: 20px;
			text-decoration: none; 

		}
	}	
}

.socialIcons {
	display: none;
	float: right;

	@include breakpoint(med){
		display: block;
	}

	

	li {
	
		list-style: none;
		display: inline-block;

		a {
			padding: 20px;
		}

	}
}

.active {
	text-decoration: underline;
}








