.nav-wrapper {
	border-bottom: 1px solid black; 
	width: 100%;
	overflow: auto; 
	background-color: #fffff5;
	top: 0;
	z-index: 2;

}

.navMenu {
	

	li {
		display: block;
		float: left;
		list-style: none; 
		font-size: 25px; 

		a {
			display: block;
			padding: 20px;
			text-decoration: none; 

		}

	}

}

.socialIcons {
	float: right;

	li {
	
		list-style: none;
		display: inline-block;

		a {
			padding: 20px;
		}

	}
}








