$page-height: 45em;
$top-height: 155px;


.page-home {
	background-color: #3498db;
	height: $page-height;
	padding-top: $top-height;
	overflow: auto; 
	
}

.page-about {
	background-color: #2072a7;
	height: $page-height;
	padding-top: $top-height;
	
}

.page-projects {
	background-color: #2980b9; 
	height: 35em;
	padding-top: $top-height;

	@include breakpoint(large){
		height: 70em; 

	}


}

.page-contact {
	background-color: #3498db; 
	color: #ffd700;
	height: $page-height;
	padding-top: $top-height;
}

section {
    position: relative;
    background: #2980b9;
    color: #fff;

    &:before,
    &:after {
    	position: absolute;
		content: '';
    }
}



.ss-style-doublediagonal {
	z-index: 1;
	background: #2072a7;

	&:before,
	&:after {
		top: 0;
		left: -25%;
		z-index: -1;
		width: 150%;
		height: 75%;
		background: inherit;
		transform: rotate(-2deg);
		transform-origin: 0 0;
	}

	&:before {
		height: 50%;
		background: #116094;
		transform: rotate(-3deg);
		transform-origin: 3% 0;
	}
}

.js_about_me_hover {
	width: 80%;
	margin: 0 auto; 
	opacity: .2; 
	transition: all 3s;	


	img {
		display: none;

		@include breakpoint(med){
			max-width: 200px;
			margin-left: 25px;
			margin-right: 15px;  
			float: left;
			display: inline-block;
		}
	}

	p {
		display: inline;
		font-size: 25px; 
		color: black;
		transition: all 3s;
		
		@include breakpoint(large){
			font-size: 34px; 
		}

	}

	&:hover{
		opacity: 1;
	
		p {
			color: white;
		
		}
	}	

}	




.ss-style-halfcircle {

	&:before {
		 top: -50px;
	}

	&:before,
	&:after {
	    left: 50%;
    	z-index: 1;
   		width: 100px;
    	height: 100px;
    	border-radius: 50%;
    	background: inherit;
    	-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
    }
}

.ss-style-triangles {

	&:before {
		top: -50px;
   	 	background: #2980b9;
	}

	&:before,
	&:after {
		left: 50%;
	    width: 100px;
	    height: 100px;
	    -webkit-transform: translateX(-50%) rotate(45deg);
	    transform: translateX(-50%) rotate(45deg);
	}
}

.page-contact-list{
	display: inline;
	font-size: 30px; 

		li {
			list-style: none;
			padding-bottom: 4px;
			list-style: none;
		
		}

		a{
			text-decoration: none; 
		}

		p {
			color: white;

		}

		@include breakpoint (large){
			display: none;
		}


}

.page-contact-container{
	display: none;

		@include breakpoint(large){

			display: inline;
			margin: 30px 230px auto;


				li{
					display: block;
					list-style: none;

					i{
						color: black;


					}
				
					p {
						color: white;
						display: inline-block;
						padding-left: 50px; 
						font-size: 27px; 

						&:hover{
							color: purple;
							text-decoration: underline;
						}
					}
				}
			}	
		}



.folded_corner {
	position: absolute; 
	background-color: #3498db;
	width: 160px;
	height: 160px;
	bottom: 0;
	right: 0;



	&:before,
	&:after {
		display: block;
		position: absolute;
		content: "";
	}
	
	&:before {
		border-top: solid 80px  #2072a7;
  	    border-right: solid 80px #fff;
  		border-left: solid 80px #2072a7;
  		border-bottom: solid 80px #fff;
  		box-shadow: -10px -10px 54px rgba(0,0,0,.5)
	}
}

.page-home-header {
	float: left; 
	margin-top: 14em; 
	margin-left: 65px; 
	font-size: 20px;
	
}

#page-home-header-bottom {

	display: none; 

	@include breakpoint(small){
		display: block; 
		margin-left: 35px;
		height: 1px;
		width: 30em;
		border-top: 2px solid white;
	}
	

}

.page-about-header,
.page-projects-header,
.page-contact-header {
	@extend .page-home-header;
	margin-top: 5px;


}

#page-about-header-bottom,
#page-projects-header-bottom,
#page-contact-header-bottom {
	
	display: none; 

	@include breakpoint(small){
		display: block; 
		margin-left: 35px;
		height: 1px;
		width: 30em;
		border-top: 2px solid white;
		margin-bottom: 10px; 
	
	}
}



	


