body {
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
}

h1 {
	text-align: center;
	color: red; 
}

.front_page {
	display: inline-block;
	margin-top: 25px; 
}

.front_image {
	width: 70%;
	border: 1px solid red;
	float: left;
}

.front-list {
	width: 24%;
	float: right;
}

.issues_page {
	margin-top: 50px;
	display: inline-block; 	
}

.issues_image {
	width: 70%;
	border: 1px solid red;
	float: left;
}