@import 'partials/nav';
@import 'partials/media';
@import 'partials/pages';

body {
	margin: 0;
	padding: 0;
	font: Arial, sans-serif; 
}

h1, h2, h3 {
	color: white;
}

p {
	color: rgba(0, 0, 0, .3);
}

a {
	color: purple;

	


	&:hover {
		color:  #421C52;
	}

	&:active {
		color: blue;
		text-decoration: underline;

	}


}

.is-mobile {
	display: inline-block;
	padding-left: 20px;
	padding-top: 35px;

	

	@include breakpoint(med){
		display: none; 

	}
}

.navMenu {
	display: none;

	@include breakpoint(med){
		display: inline-block;

	}
}

.page-home-header {
	float: left; 
	margin-top: 20em; 
	margin-left: 20px; 
	
}

#page-home-header-bottom {
	margin-left: 35px;
	height: 1px;
	width: 30em;
	border-top: 2px solid white;
	

}













			


